@import "mixins";
@import "vars";
@import "vendor/reset";

.wrapper {
  background: #c0dbd9;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;

  height: 100px;
  padding: 0 30px;
  margin-bottom: 15px;
  background: #7faff7;

  &__btn {
    font-size: 20px;
    line-height: 23px;
    padding: 8px 15px;
    background: #a5c7f9;
    border-radius: 5px;
    color: #ffffff;
    transition: all 0.3s ease;

    &:hover {
      background: #6c84a7;
    }
  }
}
.numbers {
  background: #b3f95a;

  display: grid;
  grid-template-columns: 390fr 590fr 160fr;
  grid-template-rows: 198px 198px;
  gap: 15px;

  margin-bottom: 15px;

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    background: #8ad191;
    font-size: 53px;
    line-height: 62px;
  }
  &__one {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &__two {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  &__three {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  &__four {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  &__five {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  &__one::after {
    content: "1";
  }
  &__two::after {
    content: "2";
  }
  &__three::after {
    content: "3";
  }
  &__four::after {
    content: "4";
  }
  &__five::after {
    content: "5";
  }
}

.cards {
  display: flex;
  gap: 30px;

  background: #88b5bf;
  padding: 30px;
  margin-bottom: 100px;

  &__card {
    width: 25%;
    background: #0d89b0;

    & > div {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}
.footer {
  width: 100%;
  height: 100px;
  background: #7faff7;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 70px auto;
  width: 400px;
  height: 400px;
  background: #ffffff;
  color: #000;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: background 200ms;
  font-size: 20px;

  padding: 8px 15px;
  background: #7faff6;
  color: #ffffff;
  border-radius: 5px;
}
.popup__close:hover {
  background: #d80606;
}

.popup__content {
  font-size: 53px;
  line-height: 62px;

  color: #000000;
}
